{# You do not have to touch anything on this template #}
{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container">
        <h1>My cupcakes</h1>
        {# filter by accessories #}
        <div class="accessory-filters">
            <form class="accessory-filters" action="{{ app.request.uri }}" method="GET">
                <a href="/cupcake/list" class="filter-button {% if accessory_id is null %}active{% endif %}">All</a>
                {% for accessory in accessories %}
                    <button class="filter-button {% if accessory_id == accessory.id %}active{% endif %}" name="accessory" value="{{ accessory.id }}">
                        {{ accessory.name }}
                    </button>
                {% endfor %}
            </form>
        </div>
        <div class="cupcake-list" id="cupcake-list">
        {% for cupcake in cupcakes %}
            <div class="cupcake-item">
                <a href="/cupcake/show?id={{ cupcake.id }}">
                    {% include 'Cupcake/_cupcake.html.twig' %}
                </a>
            </div>
        {% else %}
            <div>
                You have no cupcake yet !
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
{# You do not have to touch anything on this template #}
