{# You do not have to touch anything on this template #}
{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container">
        {% if cupcake is not null %}
        <h1>My cupcake {{ cupcake.cupcakeName }}</h1>
        <div class="cupcake-list" id="cupcake-list">
            <div class="cupcake-item">
                <a href="/cupcake/show?id={{ cupcake.cupcakeId }}">
                    {% include 'Cupcake/_cupcake.html.twig' %}
                </a>
            </div>
        {% else %}
            <div>
                <p>You have no cupcake yet at this id !</p>
                <a href="/cupcake/list">Go back to the list</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
{# You do not have to touch anything on this template #}
