{% extends 'layout.html.twig' %}

{% block content %}
<pre>
   
</pre> 
    <div class="main-container">
        <h1>Add a new cupcake</h1>
        {% include 'Accessory/_form.html.twig' %}
    </div>
{% endblock %}
