{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container">
        
        <h1>My accessories</h1>
        <ul>

{% for accessory in accessoires %}
    <li>{{ accessory.name }}:</br> {{ accessory.url }}</li>
{% endfor %}
</ul>
    </div>
{% endblock %}
