{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container">
        <h1>My accessories</h1>
        {# TODO Display all accessories here #}
        {% for accessory in accessories %}
    <table>
        <tr><h2>{{accessory.name}}</h2></tr>
        <tr><img src="{{accessory.url}}" alt="accessory image">
        </tr>
  </table>
      {% endfor %}
    </div>
{% endblock %}
