{% extends 'layout.html.twig' %}

{% block content %}
	<div class="main-container">
		<h1>Logistics</h1>
		<form action="" method="POST">
			<label form="number">Number of cupcakes</label>
			<input type="number" name="cupcakeNumber" id="number">
			<button>Inbox</button>
		</form>
		{% if error is defined %}
			<div class="error-message">{{ error }}</div>
		{% endif %}

		<h2>Results </h2>
		<ul class="results">
			{# TODO : Using result of inbox() method, display the number of boxes (L, M, S) #}

			<li>Number of S boxes: {{ containers[2] }}</li>
            <li>Number of M boxes: {{ containers[1] }}</li>
            <li>Number of L boxes: {{ containers[0] }}</li>
		</ul>
	</div>
{% endblock %}
